{% extends 'base.html.twig' %}

{% block header %}
  <div class="header_top">
    <div class="logo_top">
      <a href="/"><img src="/img/logo.png" class="header_logo" alt=""></a>
    </div>

    <div class="menu">
      <a href="#">Kontakt</a>
      <span>|</span>
      <a href="#">Zarejestruj</a>
      <span>|</span>
      <a href="#">Zaloguj</a>
    </div>
  </div>

  <div class="header_text">
    <span>
      <b>LEPSZY</b><br>
      POZIOM JAZDY</span></div>
  <div class="border"></div>
{% endblock %}

{% block main %}

<div class="cart_strap">
  <span>TWÓJ KOSZYK</span>
  <span>DOSTAWA I PŁATNOŚĆ</span>
  <span class="checked">PODSUMOWANIE</span>
</div>
<div class="pedzel pedzel_long_left"><span>PODSUMOWANIE</span></div>

<div class="summary-con">
  {% include 'sale/realization.summary.data.html.twig'%}
  <a href="realization"><button style="margin-top: 50px" class='button_red realization_button' type="button" name="button">Wykonaj zamówienie</button></a>
</div>

{% endblock %}

{% block footer %}
  <div class="write_to_us_con">
    <form class="write_to_us_form" id="write_to_us_form" action="#" method="post">
      <div class="write_to_us_form_con">
        <div class="top_text">
          <h1>Masz pytania? Napisz do nas</h1>
        </div>
        <div class="top">
          <input type="text" name="" value="" placeholder="Imię">
          <input type="text" name="" value="" placeholder="Adres E-mail">
        </div>
        <div class="bottom">
          <textarea name="name" form="write_to_us_form" rows="8" placeholder="Wiadomość"></textarea>
        </div>
      </div>
      <input type="submit" name="" value="Wyślij">
    </form>
  </div>
  <div class="logo_footer">
    <img src="/img/logo.png" class="footer_logo" alt="logo sickride" style="transform: scale(0.6)">
  </div>
{% endblock %}

{% block javascripts %}
</script>
{% endblock %}
