<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Sklep{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
      <button class="ajax">click me!</button>
      <div id="ajax-results">here comes the result</div>
      <script>
          $(document).on('click', 'button.ajax', function(){
              that = $(this);
              $.ajax({
                  url:'/ajax',
                  type: "POST",
                  dataType: "json",
                  data: {
                      "some_var_name": "some_var_value"
                  },
                  async: true,
                  success: function (data)
                  {
                      console.log(data)
                      $('div#ajax-results').html(data.output);

                  }
              });
              return false;

          });
      </script>
    </body>
</html>
