<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Sklep{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <header>
        {% block header %}{% endblock %}
        </header>
        <main>
        {% block main %}{% endblock %}
        </main>
        <footer>
        {% block footer %}{% endblock %}
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
